
.container-main{
	position: relative;
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 0;

    .contact-box{
        max-width: 850px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #ffdde1;
        box-shadow: 0px 0px 19px 5px #ad48559c;
        padding: 0;

        .right{
            padding: 0 1rem;
            padding-bottom: 1rem;

            h2{
                position: relative;
                padding: 0 0 10px;
                margin-bottom: 10px;
                color: $color-shadow-footer;
                font-weight: 600;
                font-size: 2rem;
                text-transform: none;

                &:after{
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    height: 4px;
                    width: 21.5rem;
                    border-radius: 1rem;
                    background-color: $color-shadow-footer;
                }   
            }

            .field{
                width: 100%;
                border: 2px solid rgba(0, 0, 0, 0);
                outline: none;
                background-color: rgba(230, 230, 230, 0.6);
                padding: 0.5rem 1rem;
                font-size: 1.1rem;
                margin-bottom: 22px;
                transition: .3s;

                &:hover{
                    background-color: rgba(0, 0, 0, 0.1);
                }

                &:focus{
                    border: 2px solid $color-rose-1;
                    background-color: $color-white;
                }
            }
            textarea{
                min-height: 10rem;
            }
            .btn-contact{
                background-color: transparent;
                color: $color-rose-1;
                text-decoration: none;
                border: 2px solid $color-rose-1;
                padding: 10px 30px;
                border-radius: 30px;
                font-weight: bold;
                font-size: 17px;
        
                &:hover{
                    background-color: $color-rose-1;
                    border: 2px solid $color-rose-1;
                    cursor: pointer;
                    color: $color-white;
                }
            }         
        }
    }
}



