

.alert-primary{
    color: $color-white;
    text-align: center;
    background-color: $color-rose-1;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;

    i{
        margin-left: 1rem;
    }
}

main{
    margin: 5rem 0;

    .card-body{
        text-align: center;
        background-color: rgba(247, 101, 121, 0.041);
        
        p{
            color: $text-color;
        }

        span{
            color: $text-color;
            font-size: 1rem;
        }

        .btn-card{
            background-color: #f892a0;
            color: $color-white;
            font-size: .7rem;
            margin-top: 1rem;
            font-weight: 600;
            border-radius: none;

            &:hover{
                transform: none;
            }
        }
    }
}

